<div class="container ">
    <div class="panel-group" style="margin-top: 30px;">
        <div class="panel panel-default shadowBox" >
            <div class="panel-heading">
                <label>Manufacturers</label>
            </div>
            <div class="panel-body" style="padding-top: 30px">
                <div class="panel-group" style="margin-top: 30px;">
                    <div ng-repeat="manuf in manufacturers" class="panel panel-default shadowBox">
                        <div class="panel-body" style="margin-bottom: 10px;">
                            <table>
                                <tr style="width:100%">
                                    <td>
                                        <h2 class="thinMargin">{{manuf.name}}</h2>
                                        <img ng-src="{{manuf.logo}}" style="height: 60px; width: 60px"/>
                                        <p><label>{{manuf.description}}</label></p>
                                    </td>
                                    <td style="text-align: right">
                                        <button ng-click="getPhones(manuf.id)">View Phones</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>